/*BASE
====================================*/
/*BASE
====================================*/
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1b1b1b;
}

/*FONT SIZE
====================================*/
body {
  font-size: 0.9rem;
  line-height: 1.4;
}

@media (min-width: 1020px) {
  body {
    font-size: 0.99rem;
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 1.26rem;
  }
}

@media (min-width: 2500px) {
  body {
    font-size: 1.53rem;
  }
}

/*COMPONENTS
====================================*/
.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  white-space: nowrap;
  margin-top: 2.7em;
  padding: 1.35em 2.7em;
}

@media (min-width: 700px) {
  .button {
    padding: 1.5em 3em;
  }
}

@media (min-width: 1900px) {
  .button {
    font-size: 1rem;
    letter-spacing: 0.2em;
  }
}

@media (min-width: 1900px) {
  .button {
    padding: 1.8em 3.6em;
    margin-top: 3.3em;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0.5em;
}

@media (min-width: 700px) {
  h2 {
    font-size: 2.5em;
    margin-top: 1em;
  }
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 700px) {
  .input {
    width: 80%;
  }
}

@media (min-width: 1020px) {
  .input {
    width: 70%;
  }
}

@media (min-width: 1900px) {
  .input {
    width: 55%;
  }
}

.email {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4.1em;
  background-color: #ebebeb;
  border: 0;
  border-radius: 0;
  padding-left: 1.5em;
  font-family: inherit;
  font-size: 0.9em;
}

@media (min-width: 1900px) {
  .email {
    font-size: 1em;
  }
}

.submit {
  display: block;
  font-family: inherit;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 2em;
  white-space: nowrap;
  color: white;
  background-color: #1b1b1b;
  border: none;
  height: 4.1em;
}

@media (min-width: 1900px) {
  .submit {
    font-size: 1em;
    padding: 0 2.7em;
    letter-spacing: 0.2em;
  }
}

/* GRID SETTING 
====================================*/
body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 50px 550px 550px 550px 400px 200px 200px 400px 600px;
      grid-template-rows: 50px 550px 550px 550px 400px 200px 200px 400px 600px;
}

body .grid-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

body .grid-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

body .grid-1 {
  grid-column: span 2;
}

body .hero-2 {
  display: none;
}

@media (min-width: 700px) {
  body {
    -ms-grid-rows: 60px 700px 700px 700px 400px 200px 200px 400px 600px;
        grid-template-rows: 60px 700px 700px 700px 400px 200px 200px 400px 600px;
  }
  body .grid-1 {
    grid-column: span 1;
  }
}

@media (min-width: 1020px) {
  body {
    -ms-grid-rows: 3vw 50vw 50vw 30vw 25vw 25vw 60vw;
        grid-template-rows: 3vw 50vw 50vw 30vw 25vw 25vw 60vw;
  }
  body .grid-2 {
    grid-column: span 2;
  }
  body .grid-2 {
    display: block;
  }
}

/* HEADER
====================================*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5em;
}

header .logo img {
  padding-top: 5px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav .menu-toggle {
  display: block;
  background-image: url(../img/icon-menu-nav.svg);
  background-size: cover;
  width: 1.6em;
  height: 1.6em;
  cursor: pointer;
  z-index: 300;
}

@media (min-width: 1020px) {
  header nav .menu-toggle {
    display: none;
  }
}

header nav .main-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  padding: 9em 0 0 0;
  margin-right: 0;
  background-color: #ffffff;
  text-align: center;
  z-index: 200;
}

@media (min-width: 700px) {
  header nav .main-menu {
    padding-top: 15em;
  }
}

@media (min-width: 1020px) {
  header nav .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    height: 100%;
    width: auto;
    padding: 0;
    margin-right: 2em;
    background-color: unset;
    text-align: unset;
  }
}

header nav .main-menu li {
  margin-bottom: 2.7em;
}

@media (min-width: 1020px) {
  header nav .main-menu li {
    margin-bottom: 0;
  }
}

header nav .main-menu li a {
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  letter-spacing: 0.2em;
}

@media (min-width: 1020px) {
  header nav .main-menu li a {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: unset;
  }
}

header nav .main-menu .social-media {
  width: 100%;
  position: absolute;
  bottom: 3em;
}

@media (min-width: 1020px) {
  header nav .main-menu .social-media {
    display: none;
  }
}

header nav .main-menu .social-media a + a {
  margin-left: 1.3em;
}

header nav .main-menu .social-media img {
  width: 1.4em;
}

@media (min-width: 700px) {
  header nav .main-menu .social-media {
    bottom: 5em;
  }
  header nav .main-menu .social-media a + a {
    margin-left: 1.5em;
  }
  header nav .main-menu .social-media img {
    width: 1.7em;
  }
}

header nav li + li {
  margin: 0;
}

@media (min-width: 1020px) {
  header nav li + li {
    margin-left: 1.9em;
  }
}

header nav.is-open .main-menu {
  display: block;
}

header nav.is-open .menu-toggle {
  background-image: url(../img/icon-menu-close.svg);
}

header .menu-icons {
  margin-right: 0.9em;
}

@media (min-width: 1020px) {
  header .menu-icons {
    margin-right: 0;
  }
}

header .menu-icons li + li {
  margin-left: 1.5em;
}

header .menu-icons li {
  margin-left: 0;
  margin-right: 1em;
}

@media (min-width: 1020px) {
  header .menu-icons li {
    margin-right: 0;
  }
}

header .menu-icons img {
  margin-bottom: -3px;
}

/* HERO
====================================*/
.grid {
  position: relative;
}

.grid--text > div {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero {
  font-size: inherit;
  /* HERO (CONTENT)
    =======================================*/
}

.hero p {
  white-space: nowrap;
}

.hero-1 {
  background-color: #fbf9f0;
}

.hero-2 {
  background-image: url(../img/disp1.jpg);
  background-size: cover;
  background-position: right 0 bottom -50px;
}

.hero-3 {
  background-image: url(../img/disp2.jpg);
  background-size: cover;
  background-position: right 0 bottom 0px;
}

.hero-4 {
  background-image: url(../img/disp3.jpg);
  background-size: cover;
  background-position: right 0 top 0px;
}

@media (min-width: 700px) {
  .hero-3 {
    background-position: right 0 top -13em;
  }
}

.hero-1 div h1 {
  margin-top: 2em;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.3;
  color: #445a3b;
}

@media (min-width: 700px) {
  .hero-1 div h1 {
    font-size: 3.6em;
    margin-top: 1em;
  }
}

@media (min-width: 1020px) {
  .hero-1 div h1 {
    font-size: 3em;
  }
}

.hero-1 div a {
  color: #ffffff;
  background-color: #445a3b;
}

.hero-3 {
  text-align: center;
}

.hero-3 p {
  font-weight: 500;
}

.hero-3 a {
  background-color: #1b1b1b;
  color: white;
}

.hero-4 {
  text-align: center;
  color: white;
}

.hero-4 p {
  font-weight: 500;
}

.hero-4 a {
  background-color: white;
  color: #1b1b1b;
}

/* NEWSLETTER
=======================================*/
.newsletter {
  text-align: center;
}

.newsletter > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
}

.newsletter h2 {
  font-size: 1.5rem;
}

@media (min-width: 1900px) {
  .newsletter h2 {
    font-size: 1.9rem;
  }
}

.newsletter p {
  margin-top: 0.8em;
  margin-bottom: 2.5em;
}

.newsletter a {
  color: inherit;
}

/* INSTAGRAM
=======================================*/
.ig-0 {
  background-color: #f3f3f3;
  text-align: center;
}

.ig-0 h3 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.7em;
}

@media (min-width: 1900px) {
  .ig-0 h3 {
    font-size: 1.8em;
    line-height: 1.4;
  }
}

.ig-0 a {
  color: inherit;
  text-decoration: none;
}

.ig-1 {
  background-image: url(../img/ig-1.jpg);
  background-size: cover;
}

.ig-2 {
  background-image: url(../img/ig-2.jpg);
  background-size: cover;
}

.ig-3 {
  background-image: url(../img/ig-3.jpg);
  background-size: cover;
}

.ig-4 {
  background-image: url(../img/ig-4.jpg);
  background-size: cover;
}

.ig-5 {
  background-image: url(../img/ig-5.jpg);
  background-size: cover;
}

.ig-6 {
  background-image: url(../img/ig-6.jpg);
  background-size: cover;
}

.ig-7 {
  background-image: url(../img/ig-7.jpg);
  background-size: cover;
}

.ig-2, .ig-4, .ig-6, .ig-7 {
  display: none;
}

@media (min-width: 700px) {
  .ig-2, .ig-4, .ig-6, .ig-7 {
    display: block;
  }
}

/* FOOTER
=======================================*/
.footer {
  background-color: #B67A59;
  color: #ffffff;
  font-size: 0.8em;
}

@media (min-width: 1900px) {
  .footer {
    font-size: 0.9em;
  }
}

.footer-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 3em;
}

@media (min-width: 700px) {
  .footer-1 {
    padding-top: 4em;
  }
}

@media (min-width: 1020px) {
  .footer-1 {
    padding-top: 7em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer-2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 700px) {
  .footer-2 {
    padding-top: 4em;
  }
}

@media (min-width: 1020px) {
  .footer-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 7em;
  }
}

.footer > div {
  width: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 6em;
}

@media (min-width: 700px) {
  .footer > div {
    width: 70%;
  }
}

.footer h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.3em;
}

@media (min-width: 700px) {
  .footer h4 {
    margin-bottom: 1.5em;
  }
}

.footer p + h4, .footer div + h4 {
  margin-top: 3em;
}

@media (min-width: 700px) {
  .footer p + h4, .footer div + h4 {
    margin-top: 4em;
  }
}

@media (min-width: 1020px) {
  .footer p + h4, .footer div + h4 {
    margin-top: 10em;
  }
}

.footer .input {
  width: 100%;
  margin-bottom: 20px;
}

.footer .email {
  width: 100%;
  background-color: #A36848;
}

.footer .email::-webkit-input-placeholder {
  color: #D5B3A0;
}

.footer .email:-ms-input-placeholder {
  color: #D5B3A0;
}

.footer .email::-ms-input-placeholder {
  color: #D5B3A0;
}

.footer .email::placeholder {
  color: #D5B3A0;
}

.footer .submit {
  background-color: #D5B3A0;
}

.footer .social-media a {
  margin-right: 1.3em;
}

.footer .social-media img {
  width: 1.4em;
}

.footer .question {
  margin-top: 1.5em;
}

.footer .copyright {
  margin-top: 6em;
}

@media (min-width: 1020px) {
  .footer .copyright {
    margin-top: 11em;
  }
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul {
  list-style-type: none;
  width: 50%;
}

.footer li + li {
  margin-top: 0.5em;
}

.footer a {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */