$max-width-S: '(max-width: 500px)';
$max-width-M: '(max-width: 900px)';

$font-size-base: 0.9em;

$color-base: rgb(27, 27, 27);
$color-green-dark: rgb(68, 90, 59);

:root{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-base;
    color: $color-base;
    line-height: 1.4;
}

.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 40px;
    padding: 18px 36px;
}